.App {
   /* text-align: left;  */
   display: block;
   margin: 0 auto 1em;

}
.container{
   /* width: 100vw; 
  height: calc(100vw * var(--ratio)); */
  /* --container-width: 30em;
  
  height: calc(100vw * var(--ratio));
  max-height: calc(var(--container-width) * var(--ratio));

  width: 100%;
  max-width: var(--container-width);   */
  /* background-color: #5d6979; */
  min-height: 100vh;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: inherit;

}
.App-logo {
   height: 40vmin;
}

.header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}
.menu{
   justify-items: center;
}
.AppLink {
   color: #09d3ac;
}
h1{
    /* background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%); */
    /* box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3); */
   text-align: center;
   color: #dae5e7;
   font-size: x-large;
   padding: 30px;
   /* font-size: calc(10px + 2vmin); */
   /* position: relative; */
   background-color:#9fb6b3;
   /* left:10px; */
   /* justify-content: center; */
   /* align-items: center; */
   /* text-align: center; */
   border-style: solid;
  border-width: 3px;
  border: 1px solid rgb(71, 168, 136);
}
